@import "other_styles.css";

html {
    background-color: bisque;
}

body {
    background-color: burlywood;
    padding: 5%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-decoration: aqua underline;
    color: darkred;
}

p {
    font-family: Verdana;
    color: brown;
}

section p {
    font-weight: bold;
}


body > p {
    font-size: 5em;
}

body h1 {
    color: blue;
}