<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reset example</title>
        <link rel="stylesheet" href="reset.css">
    </head>
    <body>
        <h1>Eric Meyer's "Reset CSS" 2.0</h1>
        <p>
            One of the pioneers of the CSS Reset method, Eric Meyer,
            created a Reset stylesheet that is still in use on
            millions of websites today. Most people use it in its
            unedited form, despite Meyer’s recommendation against
            this:
        </p>

        <p>The reset styles given here are intentionally very generic.
            There isn’t any default color or background set for the
            body element, for example. I don’t particularly recommend
            that you just use this in its unaltered state in your own
            projects. It should be tweaked, edited, extended, and
            otherwise tuned to match your specific reset baseline.
            Fill in your preferred colors for the page, links, and
            so on.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
            Sed non libero rhoncus, viverra nisi vel, porta nibh.
            Fusce et erat in nulla lobortis cursus et at nibh. Vivamus
            sodales, diam eget bibendum congue, nisl leo sagittis lorem,
            ac venenatis justo nibh et risus. Duis sollicitudin, purus
            quis molestie ultricies, tortor enim viverra sem, a sagittis
            arcu odio vitae nibh. Quisque dapibus ligula nec venenatis
            varius. Proin molestie leo quis velit suscipit, et ullamcorper
            ligula convallis. Vestibulum ex turpis, ullamcorper vitae massa
            sit amet, ornare pulvinar lacus. Donec eu pellentesque nulla.
            Phasellus in erat eget lacus luctus molestie. Pellentesque ex
            dolor, posuere vel tincidunt id, dignissim et nibh.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
            Sed non libero rhoncus, viverra nisi vel, porta nibh.
            Fusce et erat in nulla lobortis cursus et at nibh. Vivamus
            sodales, diam eget bibendum congue, nisl leo sagittis lorem,
            ac venenatis justo nibh et risus. Duis sollicitudin, purus
            quis molestie ultricies, tortor enim viverra sem, a sagittis
            arcu odio vitae nibh. Quisque dapibus ligula nec venenatis
            varius. Proin molestie leo quis velit suscipit, et ullamcorper
            ligula convallis. Vestibulum ex turpis, ullamcorper vitae massa
            sit amet, ornare pulvinar lacus. Donec eu pellentesque nulla.
            Phasellus in erat eget lacus luctus molestie. Pellentesque ex
            dolor, posuere vel tincidunt id, dignissim et nibh.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
            Sed non libero rhoncus, viverra nisi vel, porta nibh.
            Fusce et erat in nulla lobortis cursus et at nibh. Vivamus
            sodales, diam eget bibendum congue, nisl leo sagittis lorem,
            ac venenatis justo nibh et risus. Duis sollicitudin, purus
            quis molestie ultricies, tortor enim viverra sem, a sagittis
            arcu odio vitae nibh. Quisque dapibus ligula nec venenatis
            varius. Proin molestie leo quis velit suscipit, et ullamcorper
            ligula convallis. Vestibulum ex turpis, ullamcorper vitae massa
            sit amet, ornare pulvinar lacus. Donec eu pellentesque nulla.
            Phasellus in erat eget lacus luctus molestie. Pellentesque ex
            dolor, posuere vel tincidunt id, dignissim et nibh.
        </p>
    </body>
</html>