<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Working with fixed layouts</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>My title for the page...</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
        </p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi neque elit, malesuada at nulla a, bibendum molestie
            nunc. Nulla facilisi. In bibendum arcu vitae eros pretium,
            vel aliquet justo condimentum. Fusce accumsan ipsum eget
            molestie rhoncus. Donec luctus nec purus eget vehicula.
            Donec euismod, lacus mollis feugiat aliquet, libero enim
            auctor risus, non pellentesque tortor enim sed leo.
            Sed non libero rhoncus, viverra nisi vel, porta nibh.
        </p>
        <footer>Reach us at 333-444-5555</footer>
    </body>
</html>