body {
    font-family: Verdana,sans-serif;
}

p {
    font-family: AppleGothic,sans-serif;
}

footer {
    font-family: "Courier New",monospace;
}

aside {
    font-style: italic;
}

aside footer {
    font-style: normal;
}

article > footer {
    /* revert my font-family back to what was inherited */
    font-family: inherit;
}