fieldset {
    border: 1px solid black;
    padding: 10px;
}

div.form-field {
    margin: 8px;
}

div.form-field label:first-child {
    width: 100px;
    display: inline-block;
}

button {
    background-color: #ffff99;
    padding: 6px 10px;
    font-size: 1.2em;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 8px;
    display: block;
}

/* apply styles to textboxes and dropdowns */
input[type="text"], select {
    padding: 4px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: cornsilk;
    width: calc(100% - 114px);
}

select {
    display: block;
}

input[type="checkbox"] {
    border: 1px solid gray;
}

body {
    background-color: ivory;
}

/* grid styles */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "name  gender"
            "about services";
    grid-gap: 10px;
}

section#name {
    grid-area: name;
}

fieldset#gender {
    grid-area: gender;
}

fieldset#hear-about {
    grid-area: about;
}

section#our-services {
    grid-area: services
}

body {
    margin: 20px;
}
