div {
    width: 33%;
    float: left;
    box-sizing: border-box;
}

div:first-of-type {
    width: 34%;
}

section {
    margin: 14px;
    border: 2px solid black;
    padding: 8px;
    background-color: #c297ed;
}

/* apply the clear-fix hack */
article::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100px;
    float: right;
}

article {
    background-color: #e7c5ed;
}