div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

div:nth-of-type(odd) {
    clear: both;
}

section {
    margin: 14px;
    border: 2px solid black;
    padding: 8px;
    background-color: #c297ed;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* apply the clear-fix hack */
article::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100px;
    float: right;
}

article {
    background-color: #e7c5ed;
}

h1 {
    padding: 10px;
    font-size: 2em;
}